{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">

    <div class="card shadow">

        <div class="card-header bg-success text-white">

            <h3 class="mb-0">
                Candidate Details
            </h3>

        </div>

        <div class="card-body">

            <div class="row">

                <!-- Profile Picture -->

                <div class="col-md-4 text-center">

                    {% if candidate.profile_picture %}

                        <img src="{{ candidate.profile_picture.url }}"
                             class="img-fluid border mt-2 mb-1"
                             width="100%"
                             height="100%">

                    {% else %}

                        <img src="{% static 'images/default-user.png' %}"
                             class="img-fluid rounded-circle border"
                             width="180"
                             height="180">

                    {% endif %}

                </div>

                <!-- Candidate Details -->

                <div class="col-md-8">

                    <table class="table table-bordered">

                        <tr>

                            <th width="35%">
                                Name
                            </th>

                            <td>

                                {{ candidate.user.username }}

                            </td>

                        </tr>

                        <tr>

                            <th>
                                Email
                            </th>

                            <td>

                                {{ candidate.user.email }}

                            </td>

                        </tr>

                        <tr>

                            <th>
                                Phone
                            </th>

                            <td>

                                {{ candidate.phone }}

                            </td>

                        </tr>

                        <tr>

                            <th>
                                Skills
                            </th>

                            <td>

                                {{ candidate.skills }}

                            </td>

                        </tr>

                        <tr>

                            <th>
                                Resume
                            </th>

                            <td>

                                {% if candidate.resume %}

                                    <a href="{{ candidate.resume.url }}"
                                       target="_blank"
                                       class="btn btn-primary btn-sm">

                                        View Resume

                                    </a>

                                {% else %}

                                    Resume Not Uploaded

                                {% endif %}

                            </td>

                        </tr>

                        <tr>

                            <th>
                                Applied Jobs
                            </th>

                            <td>

                                {{ applied_jobs }}

                            </td>

                        </tr>

                    </table>

                </div>

            </div>

            <hr>

            <div class="text-center">


                <a href="{% url 'adminpanel:delete_candidate'  candidate.id %}"
                   class="btn btn-danger">

                    Delete

                </a>

                <a href="{% url 'adminpanel:candidates' %}"
                   class="btn btn-secondary">

                    Back

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}