

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <div class="text-center">

            {% if request.user.candidateprofile.profile_picture %}

                <img src="{{ request.user.candidateprofile.profile_picture.url }}"
                     class="rounded-circle mb-3"
                     width="120"
                     height="120">

            {% else %}

                <img src="{% static 'images/default-profile.png' %}"
                     class="rounded-circle mb-3"
                     width="120"
                     height="120">

            {% endif %}


            <h2>
                Welcome, {{ request.user.username }}
            </h2>

            <p class="text-muted">
                Candidate Dashboard
            </p>

        </div>
        <div>

          


        </div>


        <hr>


        <div class="row text-center">


            <div class="col-md-4 mb-3">

                <div class="card shadow-sm p-3">

                    <h5>
                        My Applications
                    </h5>

                    <a href="{% url 'jobs:myapplications' %}"
                       class="btn btn-primary">
                        View Applications
                    </a>

                </div>

            </div>



            <div class="col-md-4 mb-3">

                <div class="card shadow-sm p-3">

                    <h5>
                        Browse Jobs
                    </h5>

                    <a href="{% url 'jobs:joblist' %}"
                       class="btn btn-success">
                        Find Jobs
                    </a>

                </div>

            </div>



            <div class="col-md-4 mb-3">

                <div class="card shadow-sm p-3">

                    <h5>
                        Profile
                    </h5>

                    <a href="{% url 'jobs:myprofile' %}"
                       class="btn btn-warning">
                        My Profile
                    </a>

                </div>

            </div>


        </div>


    </div>

</div>


{% endblock %}

